 .u-section-1 {
  background-image: url("images/2023-01-26183927.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 1227px;
}

.u-section-1 .u-image-1 {
  width: 823px;
  height: 484px;
  transition-duration: 0.5s;
  box-shadow: -9px -14px 33px 0px rgba(128,128,128,1);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  animation-timing-function: ease;
  margin: 365px auto 0 -101px;
}

.u-section-1 .u-shape-1 {
  width: 124px;
  height: 134px;
  margin: -123px -147px 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Bloxat-PDoE;
  font-size: 3.75rem;
  transition-duration: 10s;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -134px -138px 60px 832px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin-top: 374px;
    margin-left: 76px;
  }

  .u-section-1 .u-shape-1 {
    width: 163px;
    margin-top: 548px;
    margin-right: 200px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 200px;
    margin-bottom: 14px;
    margin-left: 694px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 720px;
    height: 423px;
    margin-right: 21px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 552px;
    margin-right: 420px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 420px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 317px;
    margin-top: 448px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 714px;
    margin-right: auto;
    margin-left: 377px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 446px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-1 .u-image-1 {
    height: 200px;
    margin-top: 678px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -229px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 340px;
    margin-left: 800px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1 {
  border-color: transparent !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 15px 14px 27px 0px rgba(128,128,128,1) !important;
  border-radius: 50px !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-1 {
  border-color: transparent !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 15px 14px 27px 0px rgba(128,128,128,1) !important;
  border-radius: 50px !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  text-shadow: 0px 0px 0px rgba(128,128,128,0) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  color: #e9e8eb !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  text-shadow: 0px 0px 0px rgba(128,128,128,0) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  color: #e9e8eb !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
  min-height: 1466px;
}

.u-section-2 .u-shape-1 {
  height: 456px;
  margin-top: 1010px;
  margin-bottom: 0;
  background-image: linear-gradient(#0fedc5, black);
}

.u-section-2 .u-shape-2 {
  height: 751px;
  margin-top: -1207px;
  margin-bottom: 0;
  background-image: linear-gradient(black, #0fedc5);
}

.u-section-2 .u-shape-3 {
  height: 1316px;
  width: 309px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -930px calc(((100% - 1140px) / 2) + 284px) 0 auto;
}

.u-section-2 .u-image-1 {
  height: 526px;
  width: 720px;
  object-position: 45.65% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: -1247px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-image-2 {
  width: 731px;
  height: 472px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 167px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-group-1 {
  min-height: 396px;
  width: 585px;
  box-shadow: 0px 0px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -570px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 22px 52px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: center;
  background-image: none;
  font-size: 1rem;
  margin: 34px auto 0 0;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-top: 666px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -863px;
  }

  .u-section-2 .u-shape-3 {
    height: 1169px;
    width: 301px;
    margin-right: calc(((100% - 940px) / 2) + 292px);
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-2 {
    width: 520px;
    height: 337px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-group-1 {
    min-height: 376px;
    width: 502px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1459px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 624px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -821px;
  }

  .u-section-2 .u-shape-3 {
    margin-right: calc(((100% - 720px) / 2) + 292px);
  }

  .u-section-2 .u-image-1 {
    height: 478px;
    width: 654px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-2 {
    height: 336px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-1 {
    margin-top: -563px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1322px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 824px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -1021px;
  }

  .u-section-2 .u-shape-3 {
    height: 1337px;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    height: 394px;
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-2 {
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-1 {
    margin-top: -447px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 937px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 344px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -541px;
  }

  .u-section-2 .u-shape-3 {
    height: 1027px;
    width: 201px;
  }

  .u-section-2 .u-image-1 {
    height: 248px;
    width: 340px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 220px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 339px;
    width: 340px;
    margin-top: -318px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    padding-right: 45px;
    padding-left: 44px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 976px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 659px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 659px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 4501px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 4501px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 3393px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 3393px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 2162px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 2162px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 932px;
}

.u-section-4 .u-group-1 {
  min-height: 144px;
  height: auto;
  margin: 111px auto 0 0;
}

.u-section-4 .u-line-1 {
  height: 205px;
  transform-origin: center top 0;
  width: 1px;
  margin: -199px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 14px 6px 0;
}

.u-section-4 .u-text-2 {
  position: relative;
  font-style: italic;
  margin: 20px 6px 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 340px;
  margin: 39px auto 81px 0;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 642px;
}

.u-section-4 .u-image-1 {
  width: 331px;
  height: 522px;
  object-position: 37.51% 50%;
  background-position: 37.51% 50%;
  margin: 50px 0 0 auto;
}

.u-section-4 .u-shape-1 {
  width: 99px;
  height: 96px;
  margin: -56px auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 231px;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 348px;
}

.u-section-4 .u-text-3 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-4 .u-text-4 {
  position: relative;
  margin: 20px 20px 30px;
}

.u-section-4 .u-layout-cell-4 {
  background-image: none;
  min-height: 294px;
}

.u-section-4 .u-text-5 {
  position: relative;
  margin: 25px 20px 0;
}

.u-section-4 .u-text-6 {
  position: relative;
  margin: 20px 20px 25px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 360px;
}

.u-section-4 .u-image-2 {
  width: 341px;
  left: auto;
  right: 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 282px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 5px;
    margin-left: 5px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 531px;
  }

  .u-section-4 .u-image-1 {
    width: 273px;
    height: 459px;
    margin-top: 37px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -69px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 288px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 243px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 298px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-2 {
    width: 281px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 233px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 553px;
  }

  .u-section-4 .u-image-1 {
    width: 318px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 303px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 250px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-image-2 {
    width: 345px;
    left: 0;
    right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2190px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 3px;
    margin-left: 3px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 171px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    width: 514px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-image-2 {
    width: 320px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2095px;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-line-1 {
    transform-origin: center bottom 0;
    width: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 92px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    width: 312px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1412px;
  margin: 0 auto;
}

.u-section-5 .u-shape-1 {
  width: 258px;
  height: 365px;
  margin: -331px 0 0 auto;
}

.u-section-5 .u-image-1 {
  width: 312px;
  height: 412px;
  margin: -353px 12px 0 auto;
}

.u-section-5 .u-group-1 {
  width: 792px;
  min-height: 144px;
  height: auto;
  margin: -24px auto 0 0;
}

.u-section-5 .u-text-1 {
  position: relative;
  margin: 20px 20px 0;
}

.u-section-5 .u-text-2 {
  position: relative;
  font-style: italic;
  margin: 20px 20px 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 36px auto 0 0;
}

.u-section-5 .u-image-2 {
  background-image: url("images/dbfce54d70d33744cfcfac381eae4478.jpeg");
  min-height: 366px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-3 {
  background-image: url("images/c6ea97897b7475832b01411c6f15d769.jpeg");
  min-height: 366px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-4 {
  background-image: url("images/8a5523c0396b23082700905e14de79b9.jpeg");
  min-height: 366px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-5 {
  background-image: url("images/f54f53446e2d00239abfdbbe2eeaacc2.jpeg");
  min-height: 366px;
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 364px;
}

.u-section-5 .u-image-6 {
  width: 336px;
  height: 310px;
  margin: 0 0 0 auto;
}

.u-section-5 .u-shape-2 {
  width: 105px;
  height: 103px;
  margin: -79px auto 0 0;
}

.u-section-5 .u-image-7 {
  background-image: url("images/e31b59012cd73d363d3cd6c4f89cacfa.jpeg");
  min-height: 729px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-shape-1 {
    width: 243px;
    height: 323px;
    margin-top: -289px;
  }

  .u-section-5 .u-image-1 {
    width: 277px;
    height: 370px;
    margin-top: -311px;
    margin-right: 10px;
  }

  .u-section-5 .u-group-1 {
    width: 653px;
    height: auto;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 17px;
    margin-left: 16px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-6 {
    width: 273px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1750px;
  }

  .u-section-5 .u-shape-1 {
    width: 275px;
    height: 434px;
    margin-top: -400px;
  }

  .u-section-5 .u-image-1 {
    width: 343px;
    height: 470px;
    margin-top: -419px;
    margin-right: 13px;
  }

  .u-section-5 .u-group-1 {
    width: 500px;
    margin-top: 20px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 69px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-6 {
    width: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2848px;
  }

  .u-section-5 .u-shape-1 {
    width: 322px;
    height: 481px;
    margin-top: -447px;
  }

  .u-section-5 .u-image-1 {
    width: 365px;
    height: 490px;
    margin-top: -455px;
    margin-right: 24px;
  }

  .u-section-5 .u-group-1 {
    width: 469px;
    margin-top: 0;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 10px;
    margin-left: 9px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 71px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-6 {
    width: 513px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2825px;
  }

  .u-section-5 .u-shape-1 {
    width: 265px;
    height: 433px;
    margin-top: -399px;
  }

  .u-section-5 .u-image-1 {
    width: 290px;
    height: 448px;
    margin-top: -419px;
    margin-right: 14px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    margin-top: 6px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-image-6 {
    width: 318px;
  }
} .u-section-6 {
  background-image: none;
  min-height: 609px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/5d4e4f0cc7a15b65e4afdad2f4cf46ec.jpeg");
  min-height: 609px;
  background-position: 50% 50%;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 609px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  position: relative;
  margin: 60px 0 0;
}

.u-section-6 .u-text-2 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  margin: 40px auto 60px 0;
}

.u-section-6 .u-image-2 {
  background-image: url("images/433f3e923c80a9f2fb4e115d374e8e6a.jpeg");
  min-height: 609px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 449px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 56px 0;
}

.u-section-7 .u-layout-cell-1 {
  background-image: none;
  min-height: 299px;
}

.u-section-7 .u-shape-1 {
  width: 68px;
  height: 71px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  margin: 37px 24px 0;
}

.u-section-7 .u-layout-cell-2 {
  background-image: none;
  min-height: 299px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-2 {
  font-size: 9.125rem;
  font-weight: 700;
  line-height: 1;
  margin: 15px 0 0;
}

.u-section-7 .u-text-3 {
  margin: -62px 0 15px;
}

.u-section-7 .u-layout-cell-3 {
  background-image: none;
  min-height: 319px;
}

.u-section-7 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-4 {
  font-size: 9.125rem;
  font-weight: 700;
  line-height: 1;
  margin: 15px 0 0;
}

.u-section-7 .u-text-5 {
  margin: -62px 0 15px;
}

.u-section-7 .u-layout-cell-4 {
  background-image: none;
  min-height: 319px;
}

.u-section-7 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-6 {
  font-size: 9.125rem;
  font-weight: 700;
  line-height: 1;
  margin: 15px 0 0;
}

.u-section-7 .u-text-7 {
  margin: -62px 0 15px;
}

.u-section-7 .u-image-1 {
  min-height: 618px;
  background-image: url("images/0ef5e83a7220a4cd055fc1aee247a16f.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-shape-2 {
  width: 68px;
  height: 71px;
  margin: 517px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 81px;
    margin-bottom: 81px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-top: 72px;
    margin-bottom: 72px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-top: 52px;
    margin-bottom: 52px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    margin-right: 11px;
    margin-left: 11px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }
} .u-section-8 {
  min-height: 233px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-layout-cell-1 {
  background-image: none;
  min-height: 233px;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-icon-1 {
  height: 64px;
  width: 64px;
  position: relative;
  margin: 25px auto;
}

.u-section-8 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-8 .u-layout-cell-2 {
  background-image: none;
  min-height: 233px;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-icon-2 {
  height: 64px;
  width: 64px;
  position: relative;
  margin: 25px auto;
}

.u-section-8 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-8 .u-layout-cell-3 {
  background-image: none;
  min-height: 233px;
}

.u-section-8 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-icon-3 {
  height: 64px;
  width: 64px;
  position: relative;
  margin: 25px auto;
}

.u-section-8 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-8 .u-layout-cell-4 {
  background-image: none;
  min-height: 233px;
}

.u-section-8 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-icon-4 {
  height: 64px;
  width: 64px;
  position: relative;
  margin: 25px auto;
}

.u-section-8 .u-text-4 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }
}@font-face {
  font-family: 'Bloxat-PDoE';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Bloxat-PDoE.ttf);
}